body{
    background-color: black;
    display: flex;
    justify-content: center;
}

.border{
    border: 1px solid red;
    background-color: white;
    justify-content: center;
}

.title{
    color: red;
    justify-content: center;
}